@model RMUI.Models.OrderDetailDisplayModel

@{
    ViewData["Title"] = "EditOrderDetail";
}

<h1 class="text-center">Edit Order Detail</h1>

<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="UpdateOrderDetail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TableNumber" class="control-label"></label>
                <input asp-for="TableNumber" class="form-control" />
                <span asp-validation-for="TableNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendant" class="control-label"></label>
                <input asp-for="Attendant" class="form-control" />
                <span asp-validation-for="Attendant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodName" class="control-label"></label>
                <input asp-for="FoodName" class="form-control" />
                <span asp-validation-for="FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="text-center">
    @Html.ActionLink($"Back to Order by Table {Model.TableNumber}", "ViewOrderDetailsByTableNumber", new { tableNumber = Model.TableNumber })
</div>

